<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!--FontAwesome-->
    <script
      src="https://kit.fontawesome.com/ed2875010c.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="script/css/styles.css">
</head>
<body>
    <header>
        <div class="px-3 py-2 bg-dark text-white">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <i class="fas fa-blog fa-3x"></i>
              </a>
    
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li style="text-align: center;">
                  <a href="/" class="nav-link text-secondary">
                    <i class="fas fa-home fa-2x"></i><br>
                    Home
                  </a>
                </li>
                <li>
                  <a href="/compose" class="nav-link text-white" style="text-align: center;">
                    <i class="fas fa-file-signature fa-2x"></i><br>
                    Compose
                  </a>
                </li>
                <li>
                  <a href="/about" class="nav-link text-white" style="text-align: center;">
                    <i class="far fa-address-card fa-2x"></i><br>
                    About Us
                  </a>
                </li>
                <li>
                  <a href="/contact" class="nav-link text-white" style="text-align: center;">
                    <i class="fas fa-phone fa-2x"></i></i><br>
                    Contact Us
                  </a>
                </li>
                <!-- <li>
                  <a href="#" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                    Customers
                  </a>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
    </header>