<%- include('partials/header'); -%>

<div class="contain" style="margin-top: 2%;margin-right: 6.5%;margin-left: 6.5%;">
    <h1><%=label%></h1>
    <p><%=text%></p>
</div>



<%- include('partials/footer'); -%>